[init]
	defaultBranch = main
[user]
	name = westo0852
	email = 140355250+westo0852@users.noreply.github.com
[core]
	editor = nvim
	excludesfile = /home/iw/.gitignore
	pager = delta
[interactive]
	diffFilter = delta --color-only
[pull]
	rebase = true
[url "git@github.com:"]
	pushInsteadOf = https://github.com/
[delta]
  navigate = true # use n and N to move between diff sections
  dark = true
